@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

/* ========================
ヘッダー
======================== */
html {
    font-size: 62.5%; //基準が10pxになる。
    font-family: NotoSansJP;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to top, #4b6cb7, #182848);
}

.header__logo {
  padding-left: 39px;
  padding-right: 27px;
}

.header__item {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  font-size: 1.6rem;
  a {
  &:hover {
    opacity: 0.7;
  }
  }
  span {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  li {
    position: relative;
  &:not(:last-child)::after {
    position: absolute;
    top: 1px;
    height: 2.8rem;
    content: '';
    border-right: solid 1px;
    right: -17px;
    transform: rotate(40deg);
    }
  }
}

.header.headerColorScroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #191919;
  transition: color 0.4s ease-out;
}

/* ========================
トップ画面
======================== */
.main__wrapper {
  background: linear-gradient( #4b6cb7, #182848);
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main__inner {
  position: absolute;
  top: 107px;
  left: 174px;
  z-index: 10;
}

.swiper-wrapper .swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 688px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.top__title {
  color: #ffffff;
  font-size: 9.6rem;
  font-weight: 900;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
  line-height: 1.17;
  letter-spacing: -7.92px;
  margin-bottom: 40px;
}

.top__text-wrapper {
margin-left: 20px;
}

.top__text {
  width: 323px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  // padding: 12px 48px 21px 58px;
  margin-bottom: 12px;
  margin-top: -25px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
}

.top__text2 {
  width: 480px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  // padding: 12px 47px 21px 56px;
  margin-bottom: 12px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
}

.top__text, .top__text2 {
  background-color: #ffffff;
  font-size: 3.2rem;
  text-align: center;
  position: relative;
  height: 64px;
  box-shadow: 8px 8px 0px -1px #182848;
}

.top__news {
  margin-top: 123px;
  display: flex;
  font-size: 1.6rem;
  height: 64px;
  line-height: 64px;
  background-color: #182848;
  width: 1017px;
}

.top__news-title {
  color: #ffffff;
  background-color: #182848;
  width: 175px;
  padding-left: 42px;
}

.top__news-item {
  width: 770px;
  padding-left: 47px;
  color: #191919;
  display: flex;
  background-color: #ffffff;
  transform: skewx(-40deg);
  margin-left: -22px;
  a {
    transform: skewX(40deg);
  }
  a:hover {
    opacity: 0.7;
  }
  span {
    background-color: #b8614b;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.2rem;
    margin-left: 19px;
    border-radius: 6px;
  }
    &::after {
    content: "";
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: -50px;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    position: absolute;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
  time {
    letter-spacing: -1px;
  }
}

.new {
  display: inline-block;
  margin-left: 20px;
}
/* ========================
事業内容
======================== */
.services__wrapper {
  color: #191919;
  margin-top: -400px;
  z-index: 10;
}

.slant-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -1;
    margin-top: 160px;
    overflow: hidden;
}

.slant-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 27vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-40deg);
    z-index: -1;
  }

.services__inner  {
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
}

.services__img {
  width: 620px;
  height: auto;
  margin-right: 48px;
}

.services__title {
  position: relative;
  display: flex;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 285px;
  }
}

.sub__title {
  color: #4b6cb7;
  font-size: 2.4rem;
  padding-left: 34px;
  padding-top: 20px;
  font-weight: 500;
}

.services__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 25px;
  line-height: 1.5;
}

.services__text-contents {
  font-size: 1.6rem;
  padding-top: 11px;
  padding-bottom: 41px;
  @include l_height(16 , 32);
}

.btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px;
  background-color: #4b6cb7;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
}

.btn--arrow-right {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 2em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  &:hover {
    border-bottom: solid 1px #4b6cb7;
    border-right: solid 1px #4b6cb7;
    }
  }
}

/* ========================
園崎組について
======================== */
.about__wrapper {
  margin-top: 160px;
  background-image: url(../img/pc/background-image-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 656px;
  padding-top: 40px;
}
.about__inner {
  max-width: 504px;
  margin-left: 175px;
  background-color: #ffffff;
  padding: 48px 75px 48px 48px;
}
.about__title {
  position: relative;
  display: flex;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 195px;
  }
}

.about__text-contents {
  font-size: 1.6rem;
  padding-top: 25px;
  padding-bottom: 35px;
  @include l_height(16 , 32);
}

.about__img {
  margin-top: 32px;
}

/* ========================
実績
======================== */
.card {
  box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
}

.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
}

.card__body {
  padding: 5px 17px 32px 34px;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
}
.card__title {
  margin-bottom: 5px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #b8614b;
}

.card__text {
  color: #191919;
  font-size: 1.6rem;
  padding-top: 20px;
  line-height: 1.7;
}

.cards {
  display: flex;
  gap: 40px;
}

.works__item {
  margin-bottom: 39px;
}

.works__item>.cards__item {
  width: 50%;
}

.works__wrapper {
  margin-top: -767px;
}

.works__inner {
  max-width: 984px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.works__title {
  position: relative;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 480px;
  }
}

.works__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 25px;
  line-height: 1.5;
  text-align: center;
}

.works__text-contents {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 21px;
  padding-bottom: 48px;
  @include l_height(16 , 32);
}

.center-btn {
  text-align: center;
}

.card__badge {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

.card__badge-text {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: -2rem;
  color: #ffffff;
  font-size: 2.4rem;
  background-color: #182848;
  padding: 19px 14px;
}

.works-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -3;
    margin-top: 160px;
    overflow: hidden;
    height: 767px;
}

.works-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    width: 96vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(40deg);
    z-index: -1;
  }

  /* ========================
採用
  ======================== */
  .recruit__wrapper {
    margin-top: 160px;
    background-color: #f0f0f0;
    padding-bottom: 80px;
  }
  .recruit__inner {
    max-width: 1008px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 81px;
  }
  .recruit__title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 450px;
  }
}

.recruit__item-wrapper {
  display: flex;
  gap: 36px;
  margin-bottom: 8px;
}

.recruit-btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px 24px 10px;
  background-color: #182848;
  opacity: 0.64;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
}

.recruit__position-2 {
  padding-top: 39px;
}

.recruit__position-1 {
  padding-top: 79px;
}

.recruit__img {
  position: relative;
}

.recruit__btn {
  bottom: 33px;
  left: 28px;
  z-index: 3;
  text-align: left;
  padding: 18px 22px 20px 17px;
  width: 265px;
}

/* ========================
お問い合わせ
======================== */
.contact__wrapper {
  background-image: url(../img/pc/bckground-image-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  padding-top: 73px;
  color: #ffffff;
  max-width: 1366px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.contact__title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #ffffff;
    transform: rotate(40deg);
    top: 15px;
    right: 645px;
  }
}

.contact__subtitle {
  color: #ffffff;
}

.contact__text {
  font-size: 1.6rem;
  line-height: 2;
}

.contact-btn {
  margin-top: 50px;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
}

.construction-btn {
  width: 320px;
  background-color: #b8614b;
  position: relative;
  text-align: left;
    padding-left: 113px;
    padding-top: 28px;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
}

.order-btn {
  width: 320px;
  background-color: #191919;
  position: relative;
  text-align: left;
    padding-left: 95px;
    padding-top: 28px;
  //   &::before {
  //   content: "";
  //   background: url(../img/pc/Factory.svg) !important;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   height: 300px;
  //   width: 200px;
  // }
}

.construction, .order {
  position: relative;
}

.order {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 6.5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
}

.construction-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
}

.order-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 59px;
}

/* ========================
フッター
======================== */
.footer__wrapper {
  background-color: #182848;
}

.footer__inner {
  max-width: 1016px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.footer__logo {
  padding-top: 83px;
}

.footer__item {
  padding-bottom: 94px;
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  writing-mode: vertical-lr;
  letter-spacing: 3.5px;
  li {
    padding-left: 22px;
    &:nth-child(5) {
      padding-left: 70px;
    }
  }
}

.company {
  li {
    margin-bottom: 20px;
  }
}

.copyright {
  height: 60px;
  line-height: 60px;
  background-color: #191919;
  color: #ffffff;
  padding-left: 17.5rem;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}