@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

/* ========================
ヘッダー
======================== */
html {
    font-size: 62.5%; //基準が10pxになる。
    font-family: NotoSansJP;
}

.header {
  z-index: 9999;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to top, #4b6cb7, #182848);
}

.header__logo {
  padding-left: 39px;
  padding-right: 27px;
}

.header__item {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  font-size: 1.6rem;
    @include maxmq(tab) {
    display: none;
  }
  a {
  &:hover {
    opacity: 0.7;
  }
  }
  span {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  li {
    position: relative;
  &:not(:last-child)::after {
    position: absolute;
    top: 1px;
    height: 2.8rem;
    content: '';
    border-right: solid 1px;
    right: -17px;
    transform: rotate(40deg);
    }
  }
}

.-after {
  display: none;
}

.headerLogoScroll.-before {
  display: none;
}

.headerLogoScroll.-after {
  display: block;
}

/* スティッキー時に.stickyクラスを追加 */
.header.sticky {
  position: fixed; /* 上に固定 */
  top: 0; /* 上からスッと表示させる（重要！） */
  margin-top: 0; /* 0にすることでtopで上に配置 */
  background-color: #ffffff;
  background-image: none;
  .header__item {
    color: #000000;
  }
  .header__menu-list {
    color: #000000;
  }
  .toggle_btn span {
    background-color: #000000;
  }
}

.header__menu-list.sticky {
  a {
    color: #000000;
  }
}
/* ========================
SPメニュー
======================== */



/* ========================
トップ画面
======================== */
.main__wrapper {
  background: linear-gradient( #4b6cb7, #182848);
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main__inner {
  position: absolute;
  top: 107px;
  left: 174px;
  z-index: 10;
  @include maxmq(tab) {
    left: 20px;
  }
}

.swiper-wrapper .swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 688px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.top__title {
  color: #ffffff;
  font-size: 9.6rem;
  font-weight: 900;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
  line-height: 1.17;
  letter-spacing: -7.92px;
  margin-bottom: 40px;
  @include maxmq(tab) {
    font-size: 4.6rem;
      letter-spacing: 3px;
      overflow-wrap: break-word;
  }
}

.top__text-wrapper {
margin-left: 20px;
}

.top__text {
  width: 323px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  // padding: 12px 48px 21px 58px;
  margin-bottom: 12px;
  margin-top: -25px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
}

.top__text2 {
  width: 480px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  margin-bottom: 12px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
}

.top__text, .top__text2 {
  background-color: #ffffff;
  font-size: 3.2rem;
  text-align: center;
  position: relative;
  height: 64px;
  box-shadow: 8px 8px 0px -1px #182848;
}

.top__news {
  margin-top: 123px;
  display: flex;
  font-size: 1.6rem;
  height: 64px;
  line-height: 64px;
  background-color: #182848;
  width: 1017px;
  @include maxmq(tab) {
    flex-direction: column;
    background-color: transparent;
  }
}

.top__news-title {
  color: #ffffff;
  background-color: #182848;
  width: 175px;
  padding-left: 42px;
  @include maxmq(tab) {
    display: inline;
    width: 74px;
    padding-left: 0;
    text-align: center;
  }
}

.top__news-item {
  width: 770px;
  padding-left: 47px;
  color: #191919;
  display: flex;
  background-color: #ffffff;
  transform: skewx(-40deg);
  margin-left: -22px;
  @include maxmq(tab) {
    width: 65%;
    transform: none;
    margin-left: 0;
    padding-left: 10px;
    border: #182848 1px solid;
  }
  a {
    transform: skewX(40deg);
    @include maxmq(tab) {
      transform: none;
    }
  }
  a:hover {
    opacity: 0.7;
  }
  span {
    background-color: #b8614b;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.2rem;
    margin-left: 19px;
    border-radius: 6px;
  }
    &::after {
    content: "";
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: -50px;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    position: absolute;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
  time {
    letter-spacing: -1px;
  }
}

.new {
  display: inline-block;
  margin-left: 20px;
}
/* ========================
事業内容
======================== */
.services__wrapper {
  color: #191919;
  margin-top: -400px;
  z-index: 10;
  @include maxmq(pc) {
    margin-top: 40px;
  }
}

.slant-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -1;
    margin-top: 160px;
    overflow: hidden;
    // @include maxmq(pc) {
    //   top: 471px;
    //   left: 0;
    // }
    @include maxmq(pc) {
      display: none;
    }
}

.slant-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 27vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-40deg);
    z-index: -1;
        @include maxmq(pc) {
      display: none;
    }
  }

.services__inner  {
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
  @include maxmq(pc) {
    flex-direction: column;
  }
}

.services__img {
  width: 620px;
  height: auto;
  margin-right: 48px;
  @include maxmq(pc) {
    // width: 580px;
  }
  @include maxmq(pc) {
    margin-right: 0;
    width: 100%;
  }
  img {
    object-fit: cover;
    @include maxmq(pc) {
      width: 100%;
    }
  }
}

.services__title {
  position: relative;
  display: flex;
  h2 {
    position: relative;
    font-size: 4.1rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    left: 240px;
    @include maxmq(pc) {
      left: 237px;
    }
    @include maxmq(sp) {
      left: 184px;
      top: 10px;
    }
  }
  @include maxmq(pc) {
    position: relative;
  }
}

.services__item {
    margin-right: 10px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -26px;
    width: 50vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-30deg);
    z-index: -1;
    @include minmq(pc) {
      display: none;
    }
  }
  @include maxmq(pc) {
    // margin-right: 20px;
  }
  @include maxmq(pc) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 27px;
    background-color: #f0f0f0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  @include maxmq(sp) {
    // padding-bottom: 40px;
  }
}


.sub__title {
  color: #4b6cb7;
  font-size: 2.4rem;
  padding-left: 34px;
  padding-top: 20px;
  font-weight: 500;
  @include maxmq(sp) {
    padding-left: 31px;
    padding-top: 10px;
  }
}

.services__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 25px;
  line-height: 1.5;
    @include maxmq(tab) {
    font-size: 2.4rem;
  }
}

.services__text-contents {
  font-size: 1.6rem;
  padding-top: 11px;
  padding-bottom: 41px;
  @include l_height(16 , 32);
}

.link-btn {
  @include maxmq(tab) {
  text-align: center;
  }
}

.btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px;
  background-color: #4b6cb7;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
}

.btn--arrow-right {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 2em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  &:hover {
    border-bottom: solid 1px #4b6cb7;
    border-right: solid 1px #4b6cb7;
    }
  }
}

/* ========================
園崎組について
======================== */
.about__wrapper {
  background-image: url(../img/pc/background-image-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 160px;
  height: 656px;
  padding-top: 40px;
  @include maxmq(tab) {
    background-image: none;
  }
}

.background__img {
  @include maxmq(tab) {
    background-image: url(../img/pc/background-image-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 248px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    // padding-right: 20px;
    // padding-left: 20px;
  }
}

.about__inner {
  max-width: 504px;
  margin-left: 175px;
  background-color: #ffffff;
  padding: 48px 75px 48px 48px;
  @include maxmq(tab) {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 27px 34px 20px;
  }
}
.about__item {
  @include maxmq(tab) {
    padding-top: 30px;
  }
}
.about__title {
  position: relative;
  display: flex;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 195px;
    @include maxmq(tab) {
      left: 174px;
    }
    @include maxmq(sp) {
      left: 140px;
    }
  }
}

.about__text-contents {
  font-size: 1.6rem;
  padding-top: 25px;
  padding-bottom: 35px;
  @include l_height(16 , 32);
}

.about__img {
  margin-top: 32px;
  @include maxmq(tab) {
    display: none;
  }
}

/* ========================
実績
======================== */
.card {
  box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
  @include maxmq(tab) {
    box-shadow: none;
  }
}

.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
}

.card__body {
  padding: 5px 17px 32px 34px;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
}
.card__title {
  margin-bottom: 5px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #b8614b;
}

.card__text {
  color: #191919;
  font-size: 1.6rem;
  padding-top: 20px;
  line-height: 1.7;
}

.cards {
  display: flex;
  gap: 40px;
  @include maxmq(tab) {
    flex-direction: column;
  }
}

.works__item {
  margin-bottom: 39px;
  padding: 0 25px;
  @include maxmq(tab) {
      padding: 0;
  }
}

.works__item>.cards__item {
  width: 50%;
  @include maxmq(tab) {
    width: 100%;
  }
}

.works__wrapper {
  margin-top: -767px;
}

.works__inner {
  max-width: 984px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
.works__title {
  display: flex;
  justify-content: center;
  @include maxmq(tab) {
    padding-top: 30px;
  }
  h2 {
    position: relative;
    font-size: 4.1rem;
    font-weight: bold;
     &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    left: 180px;
    @include maxmq(sp) {
      left: 146px;
      top: 10px;
    }
    }
    @include maxmq(sp) {
    font-size: 3.2rem;
  }

  }
}

.works__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 25px;
  line-height: 1.5;
  text-align: center;
  @include maxmq(tab) {
    text-align: left;
    padding-left: 20px;
  }
}

.works__text-contents {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 21px;
  padding-bottom: 48px;
  @include l_height(16 , 32);
  @include maxmq(tab) {
    padding-left: 20px;
    padding-right: 27px;
    text-align: left;
  }
}

.center-btn {
  text-align: center;
}

.card__badge {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

.card__badge-text {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: -2rem;
  color: #ffffff;
  font-size: 2.4rem;
  background-color: #182848;
  padding: 19px 14px;
  @include maxmq(tab) {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
  }
}

.works-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -3;
    margin-top: 160px;
    overflow: hidden;
    height: 767px;
    @include maxmq(tab) {
      
    }
}

.works-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    width: 96vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(40deg);
    z-index: -1;
  }

  /* ========================
採用
  ======================== */
  .recruit__wrapper {
    margin-top: 160px;
    background-color: #f0f0f0;
    padding-bottom: 80px;
  }
  .recruit__inner {
    max-width: 1008px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 81px;
  }

  .recruit__title {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  h2 {
    position: relative;
    font-size: 4.1rem;
    font-weight: bold;
    &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    left: 213px;
    @include maxmq(tab) {
      right: 237px;
    }
    @include maxmq(sp) {
      left: 170px;
      top: 10px;
    }
  }
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
}

.recruit__item-wrapper {
  display: flex;
  gap: 36px;
  margin-bottom: 8px;
  width: 100%;
  @include maxmq(pc) {
    flex-direction: column;
  }
  @include maxmq(tab) {
    gap: 0;
    padding-bottom: 40px;
  }
  img {
    @include maxmq(tab) {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: bottom;
    line-height: 0;
    display: block;
    }
  }
}

.recruit__item {
  @include maxmq(tab) {
    line-height: 0;
    display: contents;
  }
}

.recruit-btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px 24px 10px;
  background-color: #182848;
  opacity: 0.64;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
  @include maxmq(tab) {
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
    padding: 0;
  }
}

.recruit__position-2 {
  padding-top: 39px;
  @include maxmq(tab) {
    padding-top: 0;
  }
}

.recruit__position-1 {
  padding-top: 79px;
  @include maxmq(tab) {
    padding-top: 0;
  }
}

.recruit__img {
  position: relative;
  vertical-align: bottom;
}

.recruit__btn {
  bottom: 33px;
  left: 28px;
  z-index: 3;
  text-align: left;
  padding: 18px 22px 20px 17px;
  width: 265px;
    @include maxmq(tab) {
    bottom: 46px;
  }
  @include maxmq(sp) {
    // left: -60px;
  }
}

// .recruit__btn {
//     position: relative;
//   padding-right: 2em;
//   padding-left: 1.38em;
//   &::after {
//     content: "";
//     position: absolute;
//     display: inline-block;
//     width: 1.5rem;
//     height: 0.4rem;
//     top: 50%;
//     right: 2em;
//     border-bottom: solid 1px #ffffff;
//     border-right: solid 1px #ffffff;
//     -webkit-transform: translateY(-50%) skew(45deg);
//     transform: translateY(-50%) skew(45deg);
//   &:hover {
//     border-bottom: solid 1px #4b6cb7;
//     border-right: solid 1px #4b6cb7;
//     }
//   }
// }

.recruit__item .btn--arrow-right {
  &::after {
    @include maxmq(tab) {
    right: 8em;
    }
  }
}

/* ========================
お問い合わせ
======================== */
.contact__wrapper {
  background-image: url(../img/pc/bckground-image-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  padding-top: 73px;
  color: #ffffff;
  max-width: 1366px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.contact__title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  h2 {
    font-size: 4.1rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #ffffff;
    transform: rotate(40deg);
    top: 15px;
    right: 645px;
  }
}

.contact__subtitle {
  color: #ffffff;
}

.contact__text {
  font-size: 1.6rem;
  line-height: 2;
  @include maxmq(tab) {
    text-align: left;
    padding: 0 20px;
  }
}

.contact-btn {
  margin-top: 50px;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  @include maxmq(tab) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.construction-btn {
  width: 320px;
  background-color: #b8614b;
  position: relative;
  text-align: left;
    padding-left: 113px;
    padding-top: 28px;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
}

.order-btn {
  width: 320px;
  background-color: #191919;
  position: relative;
  text-align: left;
    padding-left: 95px;
    padding-top: 28px;
  //   &::before {
  //   content: "";
  //   background: url(../img/pc/Factory.svg) !important;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   height: 300px;
  //   width: 200px;
  // }
}

.construction, .order {
  position: relative;
}

.order {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 6.5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  }
}

.construction-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
}

.order-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 59px;
}

/* ========================
フッター
======================== */
.footer__wrapper {
  background-color: #182848;
}

.footer__inner {
  max-width: 1016px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.footer__logo {
  padding-top: 83px;
  @include maxmq(tab) {
    padding-left: 20px;
  }
  @include maxmq(sp) {
    display: none;
  }
}

.footer__item {
  padding-bottom: 94px;
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  @include maxmq(tab) {
    padding-left: 20px;
  }
  @include maxmq(sp) {
    flex-direction: column-reverse;
  }
}

.footer__menu {
  writing-mode: vertical-lr;
  letter-spacing: 3.5px;
  @include maxmq(tab) {
    writing-mode: horizontal-tb;
  }
  li {
    padding-left: 22px;
    @include maxmq(tab) {
      padding-bottom: 24px;
    }
    @include maxmq(sp) {
      padding-left: 0;
    }
    &:nth-child(5) {
      padding-left: 70px;
      @include maxmq(tab) {
        padding-left: 22px;
      }
      @include maxmq(sp) {
      padding-top: 64px;
      padding-left: 0;
    }
    }
  }
}

.company {
  li {
    margin-bottom: 20px;
  }
  @include maxmq(sp) {
    // background-image: url(../img/sp/logo-w-1-sp.svg);
    // background-repeat: no-repeat;
  }
}

.sp-logo {
  display: none;
  @include maxmq(sp) {
    display: block;
    padding-top: 81px;
    padding-bottom: 23px;
  }
}

.copyright {
  height: 60px;
  line-height: 60px;
  background-color: #191919;
  color: #ffffff;
  padding-left: 17.5rem;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  @include maxmq(sp) {
    line-height: 42px;
    height: 42px;
    padding-left: 20px;
  }
}