@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

/* ========================
ヘッダー
======================== */
html {
    font-size: 62.5%; //基準が10pxになる。
    font-family: NotoSansJP;
}

.header {
  z-index: 9999;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(to top, #4b6cb7, #182848);
}

.header__logo {
  padding-left: 39px;
  padding-right: 27px;
}

.header__item {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  font-size: 1.6rem;
  @include maxmq(pc) {
    font-size: 1.2rem;
  }
    @include maxmq(tab) {
    display: none;
  }
  a {
  &:hover {
    opacity: 0.7;
  }
  }
  span {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
  li {
    position: relative;
  &:not(:last-child)::after {
    position: absolute;
    top: 1px;
    height: 2.8rem;
    content: '';
    border-right: solid 1px;
    right: -17px;
    transform: rotate(40deg);
    }
  }
}

.-after {
  display: none;
}

.-before {
  @include maxmq(tab) {
    display: block;
  }
  @include maxmq(tab) {
    display: none;
  }
}

.header__sp-logo {
  display: block;
}

.headerLogoScroll.-before {
  display: none;
}

.header__sp-logo-after {
    display: none;
}

.headerLogoScroll.header__sp-logo-after {
  display: block;
  @include maxmq(sp) {
      display: block;
      margin-top: -10px;
      margin-left: -10px;
  }
}

/* スティッキー時に.stickyクラスを追加 */
.header.sticky {
  position: fixed; /* 上に固定 */
  top: 0; /* 上からスッと表示させる（重要！） */
  margin-top: 0; /* 0にすることでtopで上に配置 */
  background-color: #ffffff;
  background-image: none;
  .header__item {
    color: #000000;
  }
  .header__menu-list {
    color: #000000;
  }
  .toggle_btn span {
    background-color: #000000;
  }
}

.header__menu-list.sticky {
  a {
    color: #000000;
  }
}

.headerLogoScroll.header__sp-logo {
  display: none;
}

/* ========================
SPメニュー
======================== */
.header__sp-logo {
  display: none;
    margin-top: -15px;
    margin-left: -19px;
  @include maxmq(tab) {
    display: block;
  }
}


/* ========================
トップ画面
======================== */
.main__wrapper {
  background: linear-gradient( #4b6cb7, #182848);
  width: 100%;
  height: 688px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    @include maxmq(sp) {
    height: 587px;
  }
}

.main__inner {
  position: absolute;
  top: 107px;
  left: 174px;
  left: 13%;
  z-index: 10;
  @include maxmq(pc) {
    left: 100px;
  }
  @include maxmq(tab) {
    left: 20px;
  }
}

.swiper {
  @include maxmq(sp) {
    height: 587px;
  }
}

.swiper-wrapper .swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 688px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include maxmq(tab) {
      display: none;
    }
}

.swiper-wrapper .sp-slide {
  display: none;
  @include maxmq(tab) {
    display: block;
  }
}

.top__title {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 9.6rem;
  font-weight: 900;
  text-shadow: 4.2px 4.2px 4px rgba(24, 40, 72, 0.5);
  line-height: 1.17;
  letter-spacing: 1px;
  margin-bottom: 40px;
  h1 {
    @include maxmq(sp) {
      font-size: 4rem;
    }
    @include maxmq(xs) {
      font-size: 3.4rem;
    }
  }
  @include maxmq(full) {
    font-size: 6.4rem;
  }
  @include maxmq(tab) {
      font-size: 4.8rem !important;
      letter-spacing: 3px;
      white-space: nowrap;
  }
  @include maxmq(sp) {
    letter-spacing: 0.96px;
    margin-top: -26px;
    margin-bottom: 55px;
  }
  span {
    @include maxmq(tab) {
      display: block;
    }
  }
}

.top__text-wrapper {
margin-left: 20px;
@include maxmq(sp) {
  margin-left: 10px;
}
}

.top__text {
  width: 323px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: -25px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
    @include maxmq(pc) {
    width: 280px;
  }
  @include maxmq(sp) {
    width: 208px;
    line-height: 36px;
  }
    @include maxmq(xs) {
    width: 190px;
  }
}

.top__text2 {
  width: 480px;
  line-height: 64px;
  color: #182848;
  font-weight: bold;
  margin-bottom: 12px;
  transform: skewX(-35deg);
  p {
    transform: skewX(35deg);
  }
  @include maxmq(pc) {
    width: 400px;
  }
  @include maxmq(sp) {
    width: 308px;
    line-height: 36px;
  }
  @include maxmq(xs) {
    width: 270px;
  }
}

.top__text, .top__text2 {
  background-color: #ffffff;
  font-size: 3.2rem;
  text-align: center;
  position: relative;
  height: 64px;
  box-shadow: 8px 8px 0px -1px #182848;
  @include maxmq(pc) {
    font-size: 2.8rem;
  }
  @include maxmq(sp) {
    font-size: 1.9rem;
    height: 36px;
  }
}

.top__news {
  margin-top: 123px;
  display: flex;
  font-size: 1.6rem;
  height: 64px;
  line-height: 64px;
  background-color: #182848;
  width: 1017px;
  @include maxmq(full) {
    width: 830px;
  }
  @include maxmq(pc) {
    width: 650px !important;
  }
  @include maxmq(tab) {
    flex-direction: column;
    background-color: transparent;
  }
  @include maxmq(sp) {
    width: 100% !important;
    margin-top: 135px;
  }
  @include maxmq(xs) {

  }
}

.top__news-title {
  color: #ffffff;
  background-color: #182848;
  width: 175px;
  padding-left: 42px;
  @include maxmq(pc) {
    width: 120px;
    padding-left: 20px;
  }
  @include maxmq(tab) {
    display: inline;
    width: 74px;
    padding-left: 0;
    text-align: center;
  }
  @include maxmq(sp) {
    font-size: 1.4rem;
    height: 22px;
    line-height: 22px;
  }
}

.top__news-item {
  width: 770px;
  padding-left: 47px;
  color: #191919;
  display: flex;
  background-color: #ffffff;
  transform: skewx(-40deg);
  margin-left: -22px;
  @include maxmq(full) {
    width: 580px;
  }
  @include maxmq(pc) {
    width: 460px !important;
    padding-left: 30px;
  }
  @include maxmq(tab) {
    width: 65%;
    width: 450px;
    transform: none;
    margin-left: 0;
    padding-left: 10px;
    border: #182848 1px solid;
    font-size: 1.4rem;
  }
  @include maxmq(sp) {
    white-space: nowrap;
    width: 100% !important;
    height: 48px;
    line-height: 48px;
  }
  @include maxmq(xs) {
    width: 85%;
    font-size: 1.2rem;
  }
  a {
    transform: skewX(40deg);
    @include maxmq(tab) {
      transform: none;
    }
  }
  a:hover {
    opacity: 0.7;
  }
  span {
    background-color: #b8614b;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.2rem;
    margin-left: 19px;
    border-radius: 6px;
    @include maxmq(sp) {
      margin-left: 5px;
      padding: 3px 9px 5px;
    }
  }
    &::after {
    content: "";
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: -50px;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    position: absolute;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
    @include maxmq(tab) {
      display: none;
    }
  }
  time {
    letter-spacing: -1px;
  }
}

.new {
  display: inline-block;
  margin-left: 20px;
  @include maxmq(sp) {
    margin-left: 0;
  }
}
/* ========================
事業内容
======================== */
.services__wrapper {
  color: #191919;
  margin-top: -400px;
  z-index: 10;
  @include maxmq(pc) {
    margin-top: 40px;
  }
  @include maxmq(sp) {
    margin-top: 121px !important;
  }
}

.slant-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -1;
    margin-top: 160px;
    overflow: hidden;
    @include maxmq(pc) {
      display: none;
    }
}

.slant-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 27vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-40deg);
    z-index: -1;
        @include maxmq(pc) {
      display: none;
    }
  }

.services__inner  {
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
  @include maxmq(pc) {
    flex-direction: column;
  }
}

.services__img {
  width: 620px;
  height: auto;
  margin-right: 48px;
  @include maxmq(pc) {
    margin-right: 0;
    width: 100%;
  }
  @include maxmq(sp) {
    height: 248px;
  }
  img {
    object-fit: cover;
    @include maxmq(pc) {
      width: 100%;
    }
      @include maxmq(sp) {
    height: 248px;
  }
  }
}

_::-webkit-full-page-media, _:future, :root .services__title::after {
    left: 295px;
    @include maxmq(sp) {
      left: 196px;
    }
}

_::-webkit-full-page-media, _:future, :root .about__title::after {
    right: 163px;
        @include maxmq(sp) {
      left: 145px;
      top: 9px;
    }
}

_::-webkit-full-page-media, _:future, :root .works__title h2::after {
    left: 232px;
        @include maxmq(sp) {
      left: 156px;
      top: 10px;
    }
}

_::-webkit-full-page-media, _:future, :root .recruit__title h2::after {
    left: 262px;
        @include maxmq(sp) {
      left: 176px;
    }
}

_::-webkit-full-page-media, _:future, :root .contact__title::after {
    left: 423px;
        @include maxmq(sp) {
      left: 218px;
      top: 99px;
    }
}


.services__title {
  position: relative;
  display: flex;
  h2 {
    font-family: "Lato", sans-serif;
    position: relative;
    font-size: 4.8rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    left: 240px;
    @include maxmq(pc) {
      left: 277px;
    }
    @include maxmq(tab) {
    }
    @include maxmq(sp) {
      left: 159px;
      top: 7px;
      height: 29px;
      _::-webkit-full-page-media, _:future, :root body.lock {
      left: 280px;
      }
    }
  }
  @include maxmq(pc) {
    position: relative;
  }
}

.services__item {
  margin-right: 10px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -26px;
    width: 50vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-30deg);
    z-index: -1;
    @include minmq(pc) {
      display: none;
    }
  }
  @include maxmq(pc) {
    // margin-right: 20px;
  }
  @include maxmq(pc) {
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 27px;
    background-color: #f0f0f0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  @include maxmq(sp) {
    // padding-bottom: 40px;
  }
}


.sub__title {
  color: #4b6cb7;
  font-size: 2.4rem;
  padding-left: 44px;
  padding-top: 20px;
  font-weight: 500;
  @include maxmq(sp) {
    padding-left: 31px;
    padding-top: 10px;
    font-size: 2rem;
  }
}

.services__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 25px;
  line-height: 1.5;
    @include maxmq(tab) {
    font-size: 2.4rem;
  }
  @include maxmq(sp) {
    padding-top: 20px;
  }
}

.services__text-contents {
  font-size: 1.6rem;
  padding-top: 11px;
  padding-bottom: 41px;
  @include l_height(16 , 32);
  @include maxmq(sp) {
    padding-top: 15px;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    line-height: 2;
    padding-bottom: 26px;
  }
}

.link-btn {
  @include maxmq(tab) {
  text-align: center;
  }
}

.btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px;
  background-color: #4b6cb7;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
  @include maxmq(sp) {
    padding: 15px 40px;
  }
}

.btn--arrow-right {
  position: relative;
  padding-right: 2em;
  padding-left: 1.38em;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 2em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
  &:hover {
    border-bottom: solid 1px #4b6cb7;
    border-right: solid 1px #4b6cb7;
    }
  }
}

/* ========================
園崎組について
======================== */
.about__wrapper {
  background-image: url(../img/PC/background-image-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 159px;
  height: 656px;
  padding-top: 33px;
  @include maxmq(tab) {
    background-image: none;
  }
  @include maxmq(sp) {
    margin-top: 92px;
  }
}

.background__img {
  @include maxmq(tab) {
    background-image: url(../img/PC/background-image-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 248px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

.about__inner {
  max-width: 504px;
  margin-left: 175px;
  background-color: #ffffff;
  padding: 48px 75px 48px 48px;
  @include maxmq(tab) {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 27px 34px 20px;
  }
  @include maxmq(sp) {
    padding: 8px 2px 34px 2px;
  }
}
.about__item {
  @include maxmq(tab) {
    padding-top: 30px;
  }
}
.about__title {
  position: relative;
  display: flex;
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 4.8rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    right: 195px;
    @include maxmq(tab) {
      left: 174px;
    }
    @include maxmq(sp) {
      left: 126px;
      top: 4px;
      height: 27px;
    }
  }
}

.about__text-contents {
  font-size: 1.6rem;
  padding-top: 25px;
  padding-bottom: 35px;
  @include l_height(16 , 32);
    @include maxmq(sp) {
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    line-height: 2;
    padding-top: 12px;
    padding-bottom: 25px;
  }
}

.about__img {
  margin-top: 32px;
  @include maxmq(tab) {
    display: none;
  }
}

/* ========================
実績
======================== */
.card {
  box-shadow: 0 0 10px 0 rgba(25, 25, 25, 0.25);
  @include maxmq(tab) {
    box-shadow: none;
  }
}
.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  @include maxmq(tab) {
    width: 100%;
  }
    img {
    @include maxmq(sp) {
      min-height: 160px;
      height: 160px;
    }
}

.card__img {
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
  @include maxmq(sp) {
    min-heihgt: 160px;
    height: 160px;
  }
  }
}

.card__badge-text {
  position: absolute;
  z-index: 2;
  top: -15px;
  left: -13px;
  color: #ffffff;
  font-size: 2.4rem;
  background-color: #182848;
  padding: 14px 13px;
  @include maxmq(tab) {
    top: auto;
    bottom: 10%;
    left: 0;
    font-size: 2rem;
  }
  @include maxmq(sp) {
    bottom: 17%;
    padding: 9px 19px;
  }
}

.card__body {
  padding: 5px 17px 32px 34px;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
  }
  @include maxmq(sp) {
    padding: 0px 10px 0px 22px;
    margin-top: -16px;
  }
}
.card__title {
  margin-bottom: 5px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #b8614b;
  @include maxmq(sp) {
    font-size: 2rem;
  }
}

.card__text {
  color: #191919;
  font-size: 1.6rem;
  padding-top: 20px;
  line-height: 1.7;
    @include maxmq(sp) {
    font-size: 1.4rem;
    padding-top: 11px;
    line-height: 1.9;
  }
}

.cards {
  display: flex;
  gap: 40px;
  @include maxmq(tab) {
    flex-direction: column;
  }
}

.works__item {
  margin-bottom: 39px;
  margin-left: 7px;
  @include maxmq(pc) {
      padding: 0 25px;
  }
  @include maxmq(tab) {
      padding: 0 !important;
      margin-left: 0;
  }
  @include maxmq(sp) {
    margin-bottom: 53px;
  }
}

.works__item>.cards__item {
  width: 50%;
  @include maxmq(tab) {
    width: 100%;
  }
  @include maxmq(sp) {
    margin-bottom: -19px;
  }
}

.works__wrapper {
  margin-top: -767px;
  @include maxmq(tab) {
    margin-top: 100px;
  }
  @include maxmq(sp) {
    margin-top: 42px;
  }
}

.works__inner {
  max-width: 984px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -204px;
    width: 183vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(-30deg);
    z-index: -1;
    @include minmq(tab) {
      display: none;
    }
  }
  @include maxmq(tab) {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 27px;
    background-color: #f0f0f0;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  @include maxmq(tab) {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
}
.works__title {
  display: flex;
  justify-content: center;
  @include maxmq(tab) {
    padding-top: 27px;
  }
  @include maxmq(sp) {
    margin-left: -59px;
  }
  h2 {
    font-family: "Lato", sans-serif;
    position: relative;
    font-size: 4.8rem;
    font-weight: bold;
     &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 15px;
    left: 192px;
    @include maxmq(sp) {
      left: 135px;
      top: 7px;
      height: 23px;
    }
    }
    @include maxmq(sp) {
    font-size: 3.2rem;
  }

  }
}

.works__text {
  font-size: 3.2rem;
  font-weight: 500;
  padding-top: 18px;
  line-height: 1.5;
  text-align: center;
  @include maxmq(tab) {
    text-align: left;
    padding-left: 20px;
  }
  @include maxmq(sp) {
    font-size: 2.4rem;
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 27px;
  }
}

.works__text-contents {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 21px;
  padding-bottom: 49px;
  @include l_height(16 , 32);
  @include maxmq(tab) {
    padding-left: 20px;
    padding-right: 27px;
    text-align: left;
  }
  @include maxmq(sp) {
    font-size: 1.4rem;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 27px;
    padding-bottom: 19px;
  }
}

.center-btn {
  text-align: center;
}

.works-bg {
    background-color: #f0f0f0;
    position: relative;
    height: 435px;
    z-index: -3;
    margin-top: 160px;
    overflow: hidden;
    height: 767px;
    @include maxmq(tab) {
      display: none;
    }
}

.works-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    width: 96vw;
    height: 100%;
    background-color: #ffffff;
    transform: skew(40deg);
    z-index: -1;
  }


  /* ========================
採用
  ======================== */
  .recruit__wrapper {
    margin-top: 160px;
    background-color: #f0f0f0;
    padding-bottom: 80px;
    @include maxmq(sp) {
      background-color: transparent;
      padding-bottom: 0;
      margin-top: 38px;
    }
  }
  .recruit__inner {
    max-width: 1008px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 69px;
  }

  .recruit__inner > .link-btn {
    @include maxmq(sp) {
    background-color: #f0f0f0;
    padding-bottom: 115px;
    }
  }

  .recruit__title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @include maxmq(sp) {
    justify-content: flex-start;
    padding-left: 21px;
    margin-bottom: 28px;
  }
  h2 {
    font-family: "Lato", sans-serif;
    position: relative;
    font-size: 4.8rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
    &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #4b6cb7;
    transform: rotate(40deg);
    top: 14px;
    left: 223px;
    @include maxmq(tab) {
      right: 237px;
    }
    @include maxmq(sp) {
      left: 148px;
      top: 10px;
      height: 25px;
    }
  }
  }
}

.recruit__item-wrapper {
  display: flex;
  gap: 36px;
  margin-bottom: 8px;
  width: 100%;
  @include maxmq(pc) {
    flex-direction: column;
  }
  @include maxmq(tab) {
    gap: 0;
    padding-bottom: 40px;
  }
    @include maxmq(sp) {
    background-color: #f0f0f0;
    margin-bottom: 0;
    }
  img {
    @include maxmq(tab) {
    width: 100%;
    height: 200px;
    object-fit: cover;
    vertical-align: bottom;
    line-height: 0;
    display: block;
    }
  }
}

.recruit__item {
  @include maxmq(tab) {
    line-height: 0;
    display: contents;
  }
}

.recruit-btn {
  display: inline-block;
  width: 256px;
  max-width: 100%;
  padding: 24px 40px 24px 10px;
  background-color: #182848;
  opacity: 0.64;
  box-shadow: 0 2px 4px rgb(24, 40, 72, 0.46);
  color: #ffffff;
  font-size: 1.6rem;
  transition: .25s;
  &:hover {
    background-color: #ffffff;
    color: #4b6cb7;
  }
  @include maxmq(tab) {
    background-color: transparent;
    opacity: 1;
    box-shadow: none;
    padding: 0;
  }
}

.recruit__position-2 {
  padding-top: 39px;
  @include maxmq(tab) {
    padding-top: 0;
  }
}

.recruit__position-1 {
  padding-top: 79px;
  @include maxmq(tab) {
    padding-top: 0;
  }
}

.recruit__img {
  position: relative;
  vertical-align: bottom;
  @include maxmq(pc) {
    width: 70%;
  }
}

.recruit__btn {
  bottom: 33px;
  left: 28px;
  z-index: 3;
  text-align: left;
  padding: 18px 22px 20px 17px;
  width: 265px;
  @include maxmq(pc) {
    left: 0;
    width: 70%;
  }
    @include maxmq(tab) {
    bottom: 46px;
  }
  @include maxmq(sp) {
    bottom: 25px;
    left: 21px;
  }
}


.recruit__item .btn--arrow-right {
  &::after {
    @include maxmq(tab) {
    right: 8em;
    }
    @include maxmq(sp) {
      right: 9em;
    }
  }
}

/* ========================
お問い合わせ
======================== */
.contact__wrapper {
  background-image: url(../img/PC/bckground-image-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__inner {
  padding-top: 73px;
  color: #ffffff;
  max-width: 720px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
  @include maxmq(tab) {
    max-width: 100%;
  }
  @include maxmq(sp) {
    padding-top: 90px;
  }
}

.contact__title {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  @include maxmq(tab) {
    justify-content: flex-start;
    padding-left: 20px;
  }
  @include maxmq(sp) {
    justify-content: flex-start;
    padding-left: 20px;
  }
  h2 {
    font-family: "Lato", sans-serif;
    position: relative;
    font-size: 4.8rem;
    font-weight: bold;
    @include maxmq(sp) {
      font-size: 3.2rem;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 31px;
    position: absolute;
    background-color: #ffffff;
    transform: rotate(40deg);
    top: 87px;
    left: 403px;
    @include maxmq(tab) {
      left: 264px;
    }
    @include maxmq(sp) {
      left: 189px;
      height: 24px;
      top: 102px;
    }
  }
}

.contact__subtitle {
  color: #ffffff;
  @include maxmq(sp) {
    padding-left: 36px;
  }
}

.contact__text {
  font-size: 1.6rem;
  line-height: 2;
  @include maxmq(tab) {
    text-align: left;
    padding: 0 20px;
  }
}

.contact-btn {
  margin-top: 43px;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  @include maxmq(tab) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  @include maxmq(sp) {
    margin-top: 21px;
    padding-bottom: 93px;
  }
}

.construction-btn {
  width: 320px;
  background-color: #b8614b;
  position: relative;
  text-align: left;
  padding-left: 113px;
  padding-top: 28px;
  &:hover {
    opacity: 0.7;
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
    @include maxmq(sp) {
      right: 2em;
    }
  }
  @include maxmq(sp) {
    width: 335px;
    padding-left: 125px;
    font-size: 1.4rem;
    padding-top: 17px;
  }
  @include maxmq(xs) {
    width: 90%;
  }
}

.order-btn {
  width: 320px;
  background-color: #191919;
  position: relative;
  text-align: left;
  padding-left: 95px;
  padding-top: 28px;
  &:hover {
    opacity: 0.7;
  }
  @include maxmq(sp) {
    width: 335px;
    padding-left: 112px;
    font-size: 1.4rem;
    padding-top: 18px;
  }
  @include maxmq(xs) {
    width: 90%;
  }
}

.construction, .order {
  position: relative;
}

.order {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: 0.4rem;
    top: 50%;
    right: 6.5em;
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    -webkit-transform: translateY(-50%) skew(45deg);
    transform: translateY(-50%) skew(45deg);
    @include maxmq(sp) {
      right: 2em;
    }
  }
}

.construction-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
  @include maxmq(sp) {
    left: 22px;
  }
}

.order-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 59px;
    @include maxmq(sp) {
    left: 22px;
  }
}

/* ========================
フッター
======================== */
.footer__wrapper {
  background-color: #182848;
}

.footer__inner {
  max-width: 1016px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.footer__logo {
  padding-top: 83px;
  @include maxmq(pc) {
    padding-left: 15px;
  }
  @include maxmq(tab) {
    padding-left: 20px;
  }
  @include maxmq(sp) {
    display: none;
  }
}

.footer__item {
  padding-bottom: 94px;
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  @include maxmq(pc) {
    padding-right: 15px;
    padding-left: 15px;
  }
  @include maxmq(tab) {
    padding-left: 20px;
  }
  @include maxmq(sp) {
    flex-direction: column-reverse;
    padding-bottom: 34px;
  }
}

.footer__menu {
  writing-mode: vertical-lr;
  letter-spacing: 3.5px;
  @include maxmq(tab) {
    writing-mode: horizontal-tb;
  }
  @include maxmq(sp) {
    font-size: 1.4rem;
    letter-spacing: 0px;
  }
  li {
    padding-left: 22px;
    &:hover {
      opacity: 0.7;
    }
    @include maxmq(tab) {
      padding-bottom: 22px;
    }
    @include maxmq(sp) {
      padding-left: 0;
    }
    &:nth-child(5) {
      padding-left: 70px;
      @include maxmq(tab) {
        padding-left: 22px;
      }
      @include maxmq(sp) {
      padding-top: 36px;
      padding-left: 0;
    }
    }
  }
}

.company {
  li {
    margin-bottom: 20px;
    @include maxmq(sp) {
      margin-bottom: 11px;
      font-size: 1.4rem;
    }
  }
  @include maxmq(sp) {
  }
}

.adress {
  @include maxmq(sp) {
    display: inline-block;
  }
}

.sp-logo {
  display: none;
  @include maxmq(sp) {
    display: block;
    padding-top: 61px;
    padding-bottom: 19px;
  }
}

.copyright {
  height: 60px;
  line-height: 60px;
  background-color: #191919;
  color: #ffffff;
  padding-left: 17.5rem;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  @include maxmq(sp) {
    line-height: 42px;
    height: 42px;
    padding-left: 20px;
    font-size: 1rem;
  }
}